<!DOCTYPE html>
<html>
<head>
  <title>Popular Movies</title>
  <link rel="manifest" href="/manifest.json">
</head>
<body>
    <form method="post" action="/home">
        <input type="text" name="searchTerm">
        <button type="submit">Rechercher</button>
    </form>
</body>
</html>
