<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <h1>Créer un compte</h1>
    <form action=" /signup" method="post">
      Nom:<input type="text" name="nom"><br>
      Prenom:<input type="text" name="prenom"><br>
      Mot de passe:<input type="password" name="mdp1"><br>
      Veuillez confirmer votre mot de passe:<input type="password" name="mdp2"><br>
      <button type="submit">Valider</button>
    </form>
    <a href="/login">Se connecter</a>
  </body>
</html>
