<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <h1>Se connecter</h1>
    <form action=" /login" method="post">
      Nom:<input type="text" name="nom"><br>
      Mot de passe:<input type="password" name="mdp"><br>
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
